#logo {}

body {
    background-color: #ebeff5;
}


#total-irrigations {
    background-color: #4cb4c7;
}


#orders-finish {
    background-color: #7abecc;
}

#total-plants {
    background-color: #7CD1C0;
}