{% extends 'main.html' %} 
<!-- Унаследовали шаблон -->

<!-- Место где будет использоваться дочерний шаблон -->
{% block content %}

{% include 'status.html' %}
<br>

<div class="row">

    <div class="col-md-12">
        <h5>My Plants</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Room</th>
                    <th>Watering next</th>
                    <th>Condition</th>
                </tr>
                {% for room in rooms %}
                <tr>
                    <td>{{room.rname}}</td>
                    <td>{{room.is_active}}</td>
                    <td>{{room.user_id}}</td>
                    <td>{{room.plrelation[]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}
