{% extends 'main.html' %} 
<!-- Унаследовали шаблон -->

<!-- Место где будет использоваться дочерний шаблон -->
{% block content %}

{% include 'status.html' %}
<br>

<div class="row">

    <div class="col-md-6">
        <h5>My Plants</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Room</th>
                </tr>
                {% for i in rooms %}
                <tr>
                    {% for plant in i.plrelation.all %}
                    <tr>
                    <td> {{ plant.name }}</td>
                    <td> {{ plant.kind }}</td>
                    <td>{{i.rname}}</td>
                    <td><a class="btn btn-sm btn-danger" href="df">Delete</a></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <h5>Register</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Date created</th>
                    <th>Date lastWatering</th>
                    <th>Date nextWatering</th>
                </tr>
                {% for i in dtlogs %}
                <tr>
    
                    <td>{{i.created}}</td>
                    <td>{{i.upwaterfreq}}</td>
                    <td>{{i.nextwaterfreq}}</td>
                    <td><a class="btn btn-sm btn-info" href="df">Watering</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}
