{% extends 'main.html' %}
<!-- Унаследовали шаблон -->

<!-- Место где будет использоваться дочерний шаблон -->
{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>History</h5>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{myFilter.form}}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>

        </div>
        <br>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Data</th>
                    <td>rating</td>
                    <td>club</td>
                    <td>maintrainer</td>
                </tr>
                <!-- {% for i in figters %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.rating}}</td>
                    <td>{{i.club}}</td>
                    <td>{{i.maintrainer}}</td>
                </tr> -->
                {% endfor %}
            </table>
        </div>
    </div>

</div>


{% endblock %}