
{% extends 'main.html' %}
<!-- Унаследовали шаблон -->

<!-- Место где будет использоваться дочерний шаблон -->
{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Plant database</h5>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{myFilter.form}}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        
        </div>
        <br>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Kind</th>
                    <td>Height</td>
                    <td>Complexity</td>
                    <td>Lighting</td>
                    <td>Watering</td>
                </tr>
                {% for i in plants %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.kind}}</td>
                    <td>{{i.height}}</td>
                    <td>{{i.complexity}}</td>
                    <td>{{i.lighting}}</td>
                    <td>{{i.waterfreq}}</td>
                    <td><a class="btn btn-sm btn-info" href="a">Add</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>


{% endblock %}