{% extends 'main.html' %}
<!-- Унаследовали шаблон -->

<!-- Место где будет использоваться дочерний шаблон -->
{% block content %}

<div class="row">
    <div class="col-md">
        <hr>
        <h5>My Rooms</h5>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Num</th>
                    <th>Name</th>
                    <th>Plant_amount</th>
                </tr>
                {% for i in rooms %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.rname}}</td>
                    <td>{{i.plrelation.count}}</td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_room' %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'room_add' %}">Create Room</a>
    </div>

</div>

{% endblock %}