<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-irrigations">
                <div class="card-header">
                    <h5 class="card-title">Require irrigation</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">+</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-finish">
                <div class="card-header">
                    <h5 class="card-title">Don’t forget to water me</h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary  btn-sm btn-block" href="">Mark an irrigation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-plants">
                <div class="card-header">
                    <h5 class="card-title">Total my plants:</h5>
                </div>
                <div class="card-body">
                    <!-- {% for i in customers %}
                    <tr>
                        <td>{{i.balance}}</td>
                    </tr>
                    {% endfor %} -->
                </div>
            </div>
        </div>
    </div>
</div>